.footer {
  background-color: #f2f2f2;
  min-height: 118px;

  &-country-text {
    display: block;
    padding: 20px;
    box-sizing: border-box;
    border-bottom: 1px solid #dadce0;
    font-size: 14px;
  }

  &-link-container {
    padding: 20px;
    box-sizing: border-box;
    display: flex;
    align-items: center;
  }

  &-info {
    &-list {
      flex: 1;
      display: flex;
      list-style: none;
      padding: 0;
      margin: 0;
    }

    &-item:not(:last-child) {
      margin-right: 10px;
    }

    &-link {
      font-size: 14px;
      color: #222;
      text-decoration: none;
      border-bottom: 1px solid transparent;
      transition: all .2s;

      &:hover {
        border-color: #222;
      }
    }
  }

  &-terms {
    &-list {
      flex: 1;
      justify-content: flex-end;
      display: flex;
      align-items: center;
      list-style: none;
      margin: 0;
      padding: 0;
    }

    &-item:not(:last-child) {
      margin-right: 10px;
    }

    &-link {
      font-size: 14px;
      color: #222;
      text-decoration: none;
      border-bottom: 1px solid transparent;
      transition: all .2s;

      &:hover {
        border-color: #222;
      }
    }
  }
}